body{
    background: #FFBB00;
    margin: 0px;
    min-height: 1000px;
    background:linear-gradient(top,#FFFFFF,#33FF33);
    background:-moz-linear-gradient(top,#FFFFFF,#33FF33);
    background:-webkit-linear-gradient(top,#FFFFFF,#33FF33);
}

.carousel-caption{
    width: 30%;
    height: 90%;
    padding: 20px 20px;
    margin:0 auto;
    margin-bottom: 0px;
    margin-left: 45%;
    text-align:center;
    font-size: 30px;
    background-color: #FF0000;
	opacity: 0.8;
    text-align: center;
}

.dropdown-menu{
    min-width: 190px;
}

.column-middle-upper{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
    margin-top: 40px;
}

.img-responsive{
	width: 720px;
	height: 500px;
}

.navbar{
    height: 60px;
}

/* carousel */

.carousel-inner{
    width: 100%;
    height: 500px;
}

.img-responsive{
    height: 100%;
}

.item{
    padding-left: 17%;
}

.column-middle-lower{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 200px;
    min-height: 500px;
    border-width: 3px;
    border-style: dashed;
    border-color: #FF0000;
    background: #FFFF77;
}

.navbar-nav li{
    min-width: 120px;
    text-align: center;
    font-size: 17px;
}

.navbar-brand{
    min-width: 100px;
    padding-left: 100px;
}
    
    


#Header{
    background: #FFFFFF;
    height: 130px;
    padding-left: 10px;
    background:linear-gradient(top,#00FFFF,#FFFF77);
    background:-moz-linear-gradient(top,#00FFFF,#FFFF44);
    background:-webkit-linear-gradient(top,#00FFFF,#FFFF44);
}

#Title{
    float: left;
    padding-left: 25px;
}


#Note{
    float: right;
    padding-right: 300px;
    padding-top: 5px;
    font-size: 25px;
}

h1{
    color: #770077;
    padding-top: 10px;
    font-size: 50px;
}

h2{
    color: #00FFFF;
    background: #CC00CC;
    font-size: 30px;

}

a{
   color: #9955FF;

}

.footer{
    width: 100%;
    font-size: 17px;
    color: #444444;
    font-weight: bold;
    padding-top: 150px;
    text-align: center;
}
.column-middle-lower{
    font-size: 50px;
    padding-left: 370px

}
